extends layout.pug

block header
    a.no-deco(href="/"): h1.title About
    link(rel="stylesheet" href="/styles/aboutStyle.css")


block content
    div(class="content-container")
        h2 The Story of Christmas.com
        p Legend has it that Santa makes a list of all the world's children so that at Christmastime the good, noble youths can receive dollies and xboxes and the wicked little snots get stern talking-tos.
        p Turns out that wasn't particularly scalable, and with the global population skyrocketing and elf wages reaching an all time high, making that list was a logistics nightmare. Santa felt the need for a tech-savvy, 21st century solution.
        p Then one foggy Christmas Eve, Santa's good friends at 
            b Travel Experts&reg 
            | started raving about their sleek new website.
        p "You'll love the kids from the OOSD program, Nicky!" chirped the CEO. "They've got a real knack for modern web development. Plus, their SAIT instructors made them work for us for free!"
        p Old Saint Nicholas perked right up at that. "Can they really help me make my list? My arthritis flares just thinking of picking up my candy cane quill."
        p "Quills are for dinos, Kringle. What you need is a high-performance database. Let me call up one of those OOSD freshman saps and we'll hook you up with Mongo."
        br
        h2 And so a web app was born - powered by NodeJS, Mongo, and good holiday cheer, finally Santa can automate some of that darned Christmas busywork, maybe even start working remotely from Cancún like he and the Missus always dreamed...  