extends layout.pug

block header
    a.no-deco(href="/"): h1.title #{greeting}

    script(src="christmastime.js")
    script.
        function loadClock(){
            const christmasClock = document.getElementById("christmasClock")
            christmasClock.innerHTML = getChristmastime()
            setInterval( () => {
                christmasClock.innerHTML = getChristmastime()
            }, 1000)
        }

block content

    h1 Welcome to this Wintry Webpage!

    h2#christmasClock

    img(src="/media/techsanta.jpg" class="homeImg" onload="loadClock()")

    h3 Santa's jumped on the internet superhighway and he is loving every second

