doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        title Christmastown - #{title}
        link(rel="stylesheet" href="/styles/style.css")
    body
        header
            block header
                h1 #{greeting}
            nav
                a(href="/about") Our Story
                a(href="/contact") Contact Santa!
                a(href="/list") Santa's List

        main
            block content
                h1 Ya #{interjection}!!!
        footer Copyright &#169; SAIT 2020 --- 
            span Background photo by 
                a(href="https://unsplash.com/@jeshoots?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText") JESHOOTS.COM 
                | on 
                a(href="https://unsplash.com/wallpapers/events/christmas?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText") Unsplash
        
        //- Snowflake module - nothing fancy here but an imported module and code straight from the documentation
        script(src='https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js')
        script.
            Snowflakes();
        