extends layout.pug

block header
    h1 About
    link(rel="stylesheet" href="/styles/aboutStyle.css")


block content
    .content-container
        .wide-container
            img(src="/media/judgeSanta.jpg" alt="Image of Santa by Jonathan Meath, CC BY-SA 2.5 <https://creativecommons.org/licenses/by-sa/2.5>, via Wikimedia Commons" width="300px")
            .content-container
                h2 Santa Says:
                p Hmmm.....
                if naughtyOrNice == 'nice'
                    p #{name}, you darling! You golden child! I see nothing but good in you!
                    p I polled the elves, and they agree that you are consummately #{descriptor}.
                    p There are none that #{job} quite like you do, I dare say!
                    script(src="imageGetter.js")
                    script.
                else
                    p you bleak scoundrel
            
        h2: a(href="/") Back