extends layout.pug

block head
    h1 About
    link(rel="stylesheet" href="/styles/aboutStyle.css")


block content
    .content-container
        .wide-container
            img(src="judgeSanta" alt="Image of Santa by Jonathan Meath, CC BY-SA 2.5 <https://creativecommons.org/licenses/by-sa/2.5>, via Wikimedia Commons" width="300px")
            .content-container
                h2 Santa Says:
                p Hmmm.....
            
        h2: a(href="/") Back