
/*styles agent placeholder*/
.our-team {
  border-radius: 25px;
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

/* Styles for agency - Eric */
.our-team.agency-container {
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
}

.our-team.agency-container .picture {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  z-index: 1;
}

.our-team.agency-container .peek-up {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  justify-content: center;
}

.our-team.agency-container .peek-up *{
  text-align: center;
}

.our-team h2{
  margin-bottom: 40px;
}


/*styles agent image*/
.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

/*styles transitioning agent placeholder*/
.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #B9EEFB ;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}


.our-team:hover .picture::before {
  height: 100%;
}

/*styles secondary border of agent image*/
.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f7f5ec;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

/*styles immediate border of agent image*/
.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
}

.our-team .info {
  display: block;
  list-style-type: none;
  font-size: 12px;
  color: #4e5052;
  margin: 0;
  padding: 0;
}

.our-team .peek-up {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #B9EEFB;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .peek-up {
  bottom: 0;
}

.our-team .peek-up li {
  display: inline-block;
}
